body,
ul {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background: linear-gradient(to right, #006600, #5bf04e, #006600);
    color: #000000;
    padding: 2%;
    text-align: center;
    font-size: 1.3vw;
    transition: padding 0.3s;
}

.agile-header {
    background-image: url('tech.jpeg');
    background-size: 5px 5px;
    color: #ffffffda;
    padding: 2%;
    text-align: center;
    font-size: 1.3vw;
    transition: padding 0.3s;
}

/* navbar style end ------------------------------------------------------- */

nav {
    background-color: #53535380;
    text-align: center;
    transition: padding 0.3s, position 0, 3s;
}

nav ul {
    list-style-type: none;
    padding: 0.3%;
    font-size: 1vw;

}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav li:hover a {
    color: #232423;
}

#navbar {
    transition: ease 0.3s;
}

#navbar.hidden {
    transform: translateY(-100%);
}

#navbar.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 1% 0;
}

#navbar .active {
    font-size: 1.3vw;
    color: #000000dd;

}

/* navbar style end ------------------------------------------------------- */

.content {
    padding: 20px;
    min-height: 300px;
}

/* sub navbar style ------------------------------------------------------- */

.sub-navbar {
    background-color: #1d1d1d7d;
    text-align: center;
}

.sub-navbar ul {
    list-style-type: none;
    padding: 0;
}

.sub-navbar li {
    display: inline;
    margin: 0 20px;
}

.sub-navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.sub-navbar a:hover {
    color: #000000b6;
}

html {
    scroll-behavior: smooth;
}

/* sub navbar style end --------------------------------------------------- */


/* agile part-------------------------------------------------------------- */
.Agcontent {
    display: flex;
    align-items: center;
    padding: 3%;
    margin: 5%;
    /* outline: 4px solid #ff000042; */
}

.agim {
    flex: 1;
    margin-right: 17%;
}

.agtext {
    flex: 2;
    margin: 0px 30% 0px 0%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 2% 3%;

}


.Agcontent h1 {
    font-size: 2vw;
}

.Agcontent p {
    font-size: 1.3vw;
}

.agilefot {
    max-width: 250%;
    height: auto;
}

/* end agile part --------------------------------------------------------- */

.divid {
    width: auto;
    padding: 4% 0 0 0;
    outline: 4px solid #9e9e9ea3;
    background-color: #9e9e9ea3;
}

/* agile-manifesto part ----------------------------------------------------*/


.manifdiv {
    display: flex;
    align-items: center;
    padding: 6% 3%;
    margin: 5%;
    text-align: right;
    /* outline: 4px solid #ff000042; */
}

.agmaim {
    flex: 1;
}

.agmatext {
    flex: 2;
    margin: 0 0 0 40%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 2% 3%;
}

.manifdiv h1 {
    font-size: 2vw;
}

.manifdiv p {
    font-size: 1.3vw;
}



.manifot {
    max-width: 275%;
    height: auto;
}

/* end agile-manifesto part ------------------------------------------------*/

/* begin agile principes part --------------------------------------------- */
.agprdiv {
    display: flex;
    align-items: center;
    padding: 3%;
    margin: 5%;
    /* outline: 4px solid #ff000042; */

}


.agprfots {
    flex: 1;
    margin-right: 8%;
}

.agprtext {
    flex: 2;
    margin: 0 13% 0 0%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 3%;
    margin-top: 5%;

}


.agprdiv h1 {
    font-size: 2vw;
}

/* .agprdiv p {
    font-size: 1.3vw;
    max-width: 60%;
    margin: 0 auto;
} */

.agprfot {
    max-width: 120%;
    height: auto;
    border-radius: 5%;
}


.agile-principles ol {
    list-style-type: decimal;
    padding-left: 3%;
    font-size: 1.3vw;
}

.agile-principles li {
    margin-bottom: 10px;
}

/* end agile principes part --------------------------------------------- */


/* outline: 4px solid #ff000042; */