body,
ul {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    transition: ease background-color 0.7s;

}

header {
    background: linear-gradient(to right, #881700, #ff6000, #881700);
    color: #ffffffda;
    padding: 2%;
    text-align: center;
    font-size: 1.3vw;
    transition: color 0.7s ease;
}

/* navbar style end ------------------------------------------------------- */

nav {
    background-color: #53535380;
    text-align: center;
    transition: padding 0.3s, position 0, 3s;
}

nav ul {
    list-style-type: none;
    padding: 0.3%;
    font-size: 1vw;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #ffffffba;
    font-weight: bold;
}

nav li:hover a {
    color: #232423;
}

#navbar {
    transition: ease 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6%;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#navbar li {
    display: inline;
    margin-right: 25px;
}

#navbar .right-nav {
    display: flex;
    justify-content: flex-end;
}


#navbar.hidden {
    transform: translateY(-100%);
}

#navbar.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1% 0;
}

#navbar .active {
    font-size: 1.3vw;
    color: #000000dd;
}

/* navbar style end ------------------------------------------------------- */

.content {
    padding: 20px;
    min-height: 300px;
}

/* sticky-block style ------------------------------------------------------- */
.sticky-block {
    position: sticky;
    top: 8.3%;
    float: right;
    width: 15%;
    height: auto;
    background-color: #f5f5f5;
    padding: 1%;
    border-radius: 0 0 0 10px;
    font-size: 1vw;
    padding-bottom: 30%;
}

.sticky-block p {
    font-weight: bold;
    font-size: 1.3vw;
    color: #ff4900b0;
}

.sticky-block ul {
    list-style-type: none;
    padding: 0;
}

.sticky-block li {
    margin: 10% 0;
}

.sticky-block a {
    text-decoration: none;
    color: #000000;
}

.sticky-block a:hover {
    background-color: #ff55008b;
}


html {
    scroll-behavior: smooth;
}

/* sticky-block style end --------------------------------------------------- */
/* p  */
.agdiv p,
.manifdiv p,
.lemudiv p,
.scrumdiv p,
.DevOpsdiv p,
.toolsdiv p,
.cicddiv p,
.tododiv p,
.notesdiv p,
.donediv p,
.gesprekdiv p {
    font-size: 1.3vw;
    transition: ease color 1s;
}

/* h1 */

.agdiv h1,
.manifdiv h1,
.lemudiv h1,
.scrumdiv h1,
.agprdiv h1,
.benefitdiv h1,
.DevOpsdiv h1,
.toolsdiv h1,
.cicddiv h1,
.tododiv h1,
.notesdiv h1,
.donediv h1,
.gesprekdiv h1 {
    font-size: 2vw;
    color: #ff4900b0;
}

/* divs */
.DevOpsdiv,
.tododiv,
.notesdiv,
.donediv,
.manifdiv,
.agprdiv {
    display: flex;
    align-items: center;
    padding: 3%;
    margin: 5%;
}

.todo-text,
.notes-text,
.done-text {
    flex: 2;
    margin: 0px 30% 0px 0%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 2% 3%;
    transition: background-color 0.7s ease, color 1s ease;
}

/* test area */
.todo-image,
.sticky-block
/* test area */

/* agile part-------------------------------------------------------------- */
.agdiv {
    display: flex;
    align-items: center;
    padding: 3%;
    margin: 2%;
}

.agim {
    flex: 1;
    margin-right: 9%;
}

.agtext {
    flex: 2;
    margin: 0px 30% 0px 0%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 2% 3%;
}

.agilefot {
    max-width: 140%;
    height: auto;
    background: #f5f5f5;
    border-radius: 180px;
}

/* end agile part --------------------------------------------------------- */

.divid {
    width: auto;
    padding: 5% 0 0 0;
    background-color: #9e9e9e45;
}

/* agile-manifesto part ----------------------------------------------------*/

.agmaim {
    flex: 1;
}

.agmatext {
    flex: 2;
    margin: 0 0 0 40%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 2% 3%;
}


.manifot {
    max-width: 275%;
    height: auto;
}

/* end agile-manifesto part ------------------------------------------------*/

/* begin agile principes part --------------------------------------------- */

.agprfots {
    flex: 1;
    margin-right: 23%;
}

.agprtext {
    flex: 2;
    margin: 0 10% 0 0%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 2% 3%;
}


.agprfot {
    max-width: 140%;
    height: auto;
    border-radius: 5%;
}


.agile-principles ol {
    list-style-type: decimal;
    padding-left: 3%;
    font-size: 1.3vw;
}

.agile-principles li {
    margin-bottom: 10px;
}

/* end agile principes part --------------------------------------------- */

/* lean and mu's part --------------------------------------------- */

.lemudiv {
    display: flex;
    align-items: center;
    padding: 6% 3%;
    padding-right: 17%;
    margin: 3%;
    text-align: right;
}

.lemum {
    flex: 1;
}

.lemutext {
    flex: 2;
    margin: 0 0 0 40%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 2% 3%;
}

.lemufot {
    max-width: 150%;
    height: auto;
}

.driemus ol {
    list-style-type: none;
    padding-left: 0%;
    font-size: 1.3vw;
}

.driemus li {
    margin-bottom: 10px;
}

/* end lean and mu's part --------------------------------------------- */


/* begin scrum part --------------------------------------------- */
.scrumdiv {
    display: flex;
    align-items: center;
    padding: 3%;
    padding-right: 15%;
    margin: 3%;
}

.scrumfoto {
    flex: 1;
    margin-right: 17%;
}

.sctext {
    flex: 2;
    margin: 0px 30% 0px 0%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 2% 3%;
}


.scrumfot {
    max-width: 175%;
    height: auto;
    padding: 5%;
}

/* end scrum part --------------------------------------------- */
/* Gespreksverslag page --------------------------------------- */


/* Gespreksverslag end --------------------------------------- */


/* Devops page-------------------------------------------------------------------------------------- */
.devops-img {
    flex: 1;
    margin-right: 9%;
}

.devops-text {
    flex: 2;
    margin: 0px 30% 0px 0%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 2% 3%;
}

.devops-image {
    max-width: 140%;
    height: auto;
    padding: 5%;
    background-color: #f5f5f5;
    border-radius: 15px;
}


/* CI/CD part ---------------------------------------------------- */
.cicddiv {
    display: flex;
    align-items: center;
    padding: 3%;
    padding-right: 15%;
    margin: 5%;
}

.cicdfoto {
    flex: 1;
    margin-right: 17%;
}

.cctext {
    flex: 2;
    margin: 0px 30% 0px 0%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 2% 3%;
}

.cicddiv h2 {
    font-size: 1.7vw;
    color: #ff4900b0;
}


.cicdfot {
    max-width: 175%;
    height: auto;
    padding: 5%;
    background-color: #f5f5f5;
    border-radius: 15px;
}

/* end ci/cd part-------------------------------------- */

/* benefs part----------------------------------------- */
.benefitdiv {
    display: flex;
    align-items: center;
    padding: 6% 3%;
    padding-right: 15%;
    margin: 5%;
}

.benefits-text {
    flex: 2;
    margin: 0px 30% 0px 0%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 2% 3%;
}

.benefits-img {
    flex: 1;
    margin-right: 17%;
}

.benefits-image {
    max-width: 175%;
    height: auto;
    padding: 5%;
    background-color: #f5f5f5;
    border-radius: 15px;
}

.benefitdiv ul {
    list-style-type: disc;
    padding-left: 3%;
    font-size: 1.3vw;
}

/* end benefs part---------------------------------- */

/* tools part--------------------------------------- */
.toolsdiv {
    display: flex;
    align-items: center;
    padding: 6% 3%;
    margin: 5%;
    text-align: right;
}

.tools-img {
    flex: 1;
    margin-right: 17%;
}

.tools-text {
    flex: 2;
    margin: 0px 15% 0px 0%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 2% 3%;
}


.tools-image {
    max-width: 175%;
    height: auto;
    padding: 5%;
    background-color: #f5f5f5;
    border-radius: 15px;
}

/* end tools part--------------------------------------- */

/* to do part ------------------------------------------ */
.doto-img {
    flex: 1;
    margin-right: 9%;
}


.todo-image {
    max-width: 130%;
    height: auto;
    padding: 10% 0%;
    background-color: transparent;
    border-radius: 15px;
}

#todo-list {
    font-size: 1.3vw;
    list-style-type: none;
    line-height: 1.7vw;
}

/* to do part end ---------------------------------------- */

/* side notes part --------------------------------------- */
.not-img {
    flex: 1;
    margin-right: 9%;
}


.notes-image {
    max-width: 130%;
    height: auto;
    padding: 10% 0%;
    background-color: #f5f5f5;
    border-radius: 15px;
}

#notes-list {
    font-size: 1.3vw;
    list-style-type: none;
    line-height: 1.7vw;
}

/* side notes part end ------------------------------------ */
/* done part ------------------------------------ */
.done-img {
    flex: 1;
    margin-right: 9%;
}


.done-image {
    max-width: 130%;
    height: auto;
    padding: 10% 0%;
    background-color: #f5f5f5;
    border-radius: 15px;
}

#done-list {
    font-size: 1.3vw;
    list-style-type: none;
    line-height: 1.7vw;
}

/* done part end ------------------------------------ */

.sun-moon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}